* {
    font-family: monospace;
}


canvas {
    /*
    height: 0;
    width: 40%;
    padding-top: 40%; */
    width: 500px;
    height: 500px;
    background: #000000;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}