canvas {
    width: 500px;
    height: 500px;
    background: #000000;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading {text-align: center;}
* {font-family: monospace;}